<div class="blog-post">
  <h2 class="blog-post-title font-robo"><%= link_to blog.title, blog %></h2>
  <small class="blog-post-meta">published <%= time_ago_in_words(blog.created_at) %> ago</small>
  <%= render 'blogs/admin_options', blog: blog %>
  <div class="md-body mt-3"><%= markdown blog.body %></div>
</div>