
<div class="col-md-8 blog-main">
  <h1>Dev Thoughts</h1>
  <div class="text-muted desc">Something something</div>
  <%= link_to "Write a New Blog", new_blog_path if logged_in?(:site_admin) %>

  <div class="mt-5">
    <%= will_paginate @blogs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
    
    <%= render @blogs %>

    <%= will_paginate @blogs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        
</div>








