
<div class="album py-5 bg-light">
	<div class="container">
		<%= source_helper "alert alert-success" %>
		<div data-controller="<%= 'drag' if logged_in?(:site_admin) %>" data-drag-url="/portfolios/:id/move" class="row">
			<%= render partial: 'portfolio_item', collection: @portfolio_items %>
		</div>
	</div>
</div> 
