<div class="container m-auto home-jumbo">
	<main role="main" class="inner cover mx-auto" >
		<h1 class="cover-heading">Welcome to my online home.</h1>
		<span class="element" id="welcome-msg"></span>
		<br>
		<p class="lead mt-4">	  
		  <%= link_to "About me", about_me_path, class: "btn btn-lg btn-secondary" %>
		</p>
	</main>
</div>


