@import "bootstrap"; 
@import "font-awesome";

@font-face {
  font-family: 'Lato';
  src: font-url('Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  src: font-url('RobotoSlab-Regular.ttf') format('truetype');
}

.font-robo{
  font-family: 'Roboto Slab';
}

.font-lato{
  font-family: 'Roboto Slab';
}

body {
  font-family: 'Lato';
}


body h1, .h1{
  font-family: 'Roboto Slab';
}

h2, .h2{
  font-family: 'Roboto Slab';
}

md-body h2{
  font-family: 'Roboto Slab';
}

body h3, .h3{
  font-family: 'Roboto Slab';
}

h4, .h4{
  font-family: 'Roboto Slab';
}

h5, .h5{
  font-family: 'Roboto Slab';
}


/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab';
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 1.5rem 0;
  color: #999;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
  margin-top: 20px;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * Custom
 */

 .social-links{
  font-size: 2.5em
 }

#blog-nav .active{
  font-style: italic !important;
  
}

.blog-topic-nav{
  background-color: #eceeef;
  padding: 10px
}

body{
  
 
  font-size: 1.1rem;
}

.blogcrumb a{
  font-size: 1.25em;
  margin-right: 15px;
}

.draft{
 color: red
}

.published{
  color: blue
}


blockquote{
 border-left: 6px solid #1a8cff !important;
 background-color: #e6f2ff;
 margin-left: 10px;
 padding-left: 10px;
 }

.desc{
margin-top: -7px;
margin-bottom: 5px;
}