@import "bootstrap"; 
@import "font-awesome";

.tweet a {
  color: green
}

.tweet a:focus {
  color: green !important
}

.tweet a:hover {
  color: green !important
}

#acn-logo{
  width: 160px;
  height: 110px;
  margin-left: -15px;
}

#csu-logo{
  width: 100px;
  height: 110px;

}