@import "bootstrap"; 
@import "font-awesome";
@import "jquery-ui";

@font-face {
  font-family: 'Lato';
  src: font-url('Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  src: font-url('RobotoSlab-Regular.ttf') format('truetype');
}


body {
  font-family: 'Lato';
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5{
  font-family: 'Roboto Slab';
}


.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
} 
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* custom styles */
.portfolio-form{
  padding: 55px;
}

.nav-myname{
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-style: italic;
  margin-bottom: -10px;
  margin-top: -5px;
}

#header {
  background: #322449 !important;
} 

.color-gray{
  color: #9DA7AA !important;
}

